
@font-face {
  font-family: 'MagnaVeritas';
  src: url('MagnaVeritas.eot?#iefix') format('embedded-opentype'),  url('MagnaVeritas.woff') format('woff'), url('MagnaVeritas.ttf')  format('truetype'), url('MagnaVeritas.svg#MagnaVeritas') format('svg');
  font-weight: normal;
  font-style: normal;
}
